
<div class="col-xs-12 col-sm-4 xs-relative" >

    <div 
 [hidden]="cart_view" 
        class="card-small" >

        <span class="card-small-wrapper relative" >
            <span class="card-count" > {{ cart.length || 0 }} </span>
            <button 
  (click)="change_cart_view()" 
                type="button" class="btn btn-default card-label">
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </button>
        </span>

    </div>

<!--
    <div 
 [hidden]="!card_view" 
        class="card-big" >


         <data-wr ng-show="!$ctrl.card.length"  class="empty-cart" >
             Shopping cart is empty .
             <a 
             ng-click="$ctrl.change_card_view()"
             href="" > Close cart</a>
         </data-wr>

        <data-wr ng-show="$ctrl.card.length" >

        <button 
        ng-click="$ctrl.change_card_view()" 
                type="button" class="btn btn-default card-close-big">
             <span class="glyphicon glyphicon-remove"></span>
         </button>

        <div ng-repeat="product in $ctrl.card"
             ng-if="product.left"
             class="row single-card-product-card" >

            <div class="col-xs-12 col-sm-4 product-img-wrapper">
                <img ng-src="{{product.img}}" class="img-responsive product-img" />
            </div>
            <div class="col-xs-12 col-sm-8">
                <h3 class="product-title" > {{ product.title }} </h3>
                <p> 
                <span class="product-price" > Price: {{ product.price }}</span>
                <span class="product-shipping" > Shipping: {{ product.shipping }}</span>
                </p>
            </div>

         </div>

          <div class="product-total" > Total: {{  $ctrl.get_total() }} </div>

        </data-wr>

    </div>
-->

</div>
