
<div class="row" >

    <div class="col-xs-12 col-md-4 col-sm-6 single-product"
 *ngFor=" let product of ( searched_products || products ) | ifProductLeftZero "
 [hidden]=" show_product_view(searched_products) "    
    >

        <div class="col-xs-12 col-sm-4 height-100">
            <img 
 [src]="product.img" class="img-responsive product-img height-100" />
        </div>
        <div class="col-xs-12 col-sm-8">
            <p class="text-right padding-small test-small"> 
                Only {{ product.left }} left 
            </p>
            <h3 class="text-center" > {{ product.title }} </h3>
            <ul class="list-unstyled">
                <li 
 *ngFor=" let description of product.description"
                >
                    {{ description }}
                </li>
            </ul>
            <p>        
                <span class="col-xs-12 col-sm-6 text-left padding-small test-small "> Price: {{ product.price }} </span>
                <span class="col-xs-12 col-sm-6 text-right padding-small test-small"> Shipping: {{ product.shipping }} </span>
            </p>
            <div class="text-center-sm" >
            <input 
 (click)="send(product)" 
        class="btn btn-default btn-sm-center"       
        type="button" value="add to card" />
            </div>
        </div>

 </div>

    <div class="no_result"
 [hidden]=" !show_product_view(searched_products) " >
         no result for your search
         <input 
 (click)="clear_search()"
            type="button" value="show all" class="btn btn-default" />
   </div>

</div>

